<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>임시일기수정폼</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
</head>
<body>
<div class="title">
    <h1>Diary</h1>
</div>
<div class="content" th:object="${post}">
    <form method="POST" th:action="@{/updatePost}" >

<!--        post id-->
        <input type="hidden" id="id" name="id" th:attr="value=${post.id}">

        <div style="margin:10px" >
            <input type="text" name="title" class="form-control" th:attr="value=${post.title}" required/>
        </div>

        <div style="margin: 10px">
            <input type="text" name="weather" class="form-control" th:attr="value=${post.weather}" autocomplete="off"/>
            <input type="text" name="feeling" class="form-control" th:attr="value=${post.feeling}" autocomplete="off"/>
            배경색을 골라주세요: <input type="color" name="color" class="form-control" th:attr="value=${post.color}" autocomplete="off"/>
        </div>

        <div id="editor" style="margin: 16px"></div>
        <input type="hidden" id="content" name="content" required/>


        <div style="margin: 10px;">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="privacy-1" name="privacy" value="public" checked>
                <label class="custom-control-label" for="privacy-1">public</label>

                <input type="radio" class="custom-control-input" id="privacy-2" name="privacy" value="private">
                <label class="custom-control-label" for="privacy-2">private</label>

                <input type="radio" class="custom-control-input" id="privacy-3" name="privacy" value="friends">
                <label class="custom-control-label" for="privacy-2">friends</label>
            </div>
        </div>
        <div style="margin: 10px">
            <button type="submit" class="btn btn-dark btn-large form-control">저장</button>
            <button type="button" class="btn btn-secondary btn-large form-control" id="btn_postform">Back</button>
        </div>
    </form>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script th:inline="javascript">
    /*<![CDATA[*/ let content = /*[[ ${post.content} ]]*/; /*]]*/
        const editor = new toastui.Editor({
            el: document.getElementById('editor'),
            height: '500px',
            initialValue: content,
            initialEditType: 'wysiwyg',
            hideModeSwitch: true,
            events: {
                change: function() {
                    console.log(editor.getMarkdown());
                    document.getElementById("content").value = editor.getMarkdown();
                },
            }
        });

        editor.getMarkdown();
    </script>
</div>
</body>
</html>