<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>임시 일기 목록</title>
    <script src = "/js/scripts.js"></script>
</head>
<body>
<div class="title">
    <h1>일기 목록</h1>
</div>
<div class="content">
    <div class="row">
        <div class = "table">
            <table>
                <thead>
                <tr class="text-center">
                    <th width="10%">일기번호</th>
                    <th width="10%">제목</th>
                    <th width="50%">내용</th>
                    <th width="5%"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" th:object="${post}" th:each="post: ${postList}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{title}"></td>
                    <td th:text="*{content}"></td>
                    <td>
                        <form id="delete-form" th:action="@{/deletePost}" th:object = "" method="POST" th:object = "PostResponseDto">
                        <button type="button" class="btn btn-secondary btn-large form-control" id="btn_postlistForm" onclick="location.href='/deletePost'">delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>