<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>임시 일기 목록</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="title">
    <h1>일기 목록</h1>
</div>
<div class="content">
    <div class="row">
        <div class = "table">
            <table>
                <thead>
                <tr class="text-center">
                    <th width="10%">일기번호</th>
                    <th width="10%">제목</th>
                    <th width="5%"></th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-center" th:object="${post}" th:each="post: ${postList}">
                    <td th:text="*{id}" name="id" ></td>
                    <td><a th:href="@{|/post/${post.id}|}" th:text="*{title}" ></a></td>
                    <td>

                            <button type="button" class="btn btn-secondary btn-large form-control" id="btn_postlistForm" th:attr="onclick=|deletePost('${post.id}')|" >delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
        function deletePost(id) {
        console.log(id);
        $.ajax({
            type: 'POST',
            url: '/deletePost',
            data: {
                id: parseInt(id),
            },
            dataType: 'json',
            success: function (result) {
                if(!result){
                    alert("삭제되었습니다.");
                    location.reload();
                }
                else{
                    alert("삭제할 수 없습니다.");
                }
            },
            error: function () {
                alert("서버에서 에러 발생");

            },
        });
    }
</script>
</body>
</html>