<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>회원조회</title>
</head>
<body>
<div class="title">
    <h1>회원 조회</h1>
</div>
<div class="content">
    <div class="row">
        <div class = "table">
            <table>
                <thead>
                    <tr class="text-center">
                        <th width="10%">회원번호</th>
                        <th width="20%">email</th>
                        <th width="10%">이름</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" th:object="${user}" th:each="user: ${userList}">
                        <td th:text="*{id}"></td>
                        <td th:text="*{email}"></td>
                        <td th:text="*{name}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>