<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>임시일기작성폼</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
</head>
<body>
<div class="title">
    <h1>Diary</h1>
</div>
<div class="content">
    <form method="POST" th:action="@{/writepost}" >
        <div>
            <input type="text" name="title" class="form-control" placeholder="제목" autocomplete="off" required/>
        </div>

        <div>
            <input type="text" name="weather" class="form-control" placeholder="날씨" autocomplete="off"/>
            <input type="text" name="feeling" class="form-control" placeholder="기분" autocomplete="off"/>
        </div>

        <div id="editor" style="margin: 16px"></div>
        <input type="hidden" id="content" name="content" />

        <div style="margin: 0;">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio" class="custom-control-input" id="privacy-1" name="privacy" value="public" checked>
                <label class="custom-control-label" for="privacy-1">public</label>

                <input type="radio" class="custom-control-input" id="privacy-2" name="privacy" value="private">
                <label class="custom-control-label" for="privacy-2">private</label>

                <input type="radio" class="custom-control-input" id="privacy-3" name="privacy" value="friends">
                <label class="custom-control-label" for="privacy-2">friends</label>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-dark btn-large form-control">저장</button>
        </div>
        <div>
            <button type="button" class="btn btn-secondary btn-large form-control" id="btn_postform">Back</button>
        </div>
    </form>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script>
        const editor = new toastui.Editor({
            el: document.getElementById('editor'),
            height: '500px',
            initialValue: "오늘 어떤 일이 있었나요?",
            initialEditType: 'wysiwyg',
            hideModeSwitch: true,
            placeholder: '일기 내용을 작성해 주세요!',
            events: {
                change: function() {
                    console.log(editor.getMarkdown());
                    document.getElementById("content").value = editor.getMarkdown();
                },
            }
        });

        editor.getMarkdown();
    </script>
</div>
</body>
</html>